#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
}


.container {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display {
  width: 350px;
}

.output {
  height: 50px;
  font-size: 1.5rem;
  text-align: end;
  line-height: 50px;
}

.input {
  height: 50px;
  font-size: 1.5rem;
  text-align: end;
  line-height: 50px;

}

.keyboard {
  gap: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.keyboard button:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
}

.keyboard button:nth-child(15) {
  grid-row: 4 / 6;
  grid-column: 4 / 4;
}

.keyboard button:nth-child(16) {
  grid-column-start: 1;
  grid-column-end: 3;
}

button {
  min-height: 80px;
  min-width: 80px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.signature {
  text-align: center;
}